<% if user_signed_in? %>
  <% if @message.present? %>
    <center>
      <div class="message">
      <%= @message %>
      <%= link_to root_path do%>
      <div class="todashbtn"><span class="dashtext">Back to Dashboard</span></div>
      <%end%>
      </div>
    </center>
  <% else %>

    <%= form_tag "/answer", :method => "post" do %>
      <input type="hidden" name="id" value=<%= @eval.id %>>
      <center>
        <div style="margin-top:5vh;">
          <span class="message">Select Timeslot Session</span>
          <div style="margin-top: 3vh;">
            <select name="t" style="font-size: 40px; background-color: #00a79d; border:none; color:white; height: 70px; width: 50vw; padding-left: 17vw;" required>
              <option value=1>9:30 AM</option>
              <option value=2>10:45 AM</option>
              <option value=3>1:00 PM</option>
              <option value=4>2:15 PM</option>
              <option value=5>3:30 PM</option>
            </select>
          </div>
        </div>
        <div style="margin-top:5vh;">
          <span class="message">The session material was relevant and informative.</span>
          <div style="margin-top: 3vh;">
            <% (1..5).each do |i| %>
              <% if i==1 %>
                <input type="radio" name="a" value=<%= i %> id="aq<%= i %>" checked>
              <% else %>
                <input type="radio" name="a" value=<%= i %> id="aq<%= i %>">
              <% end %><label for="aq<%= i %>"><%= i %></label>&nbsp;&nbsp;&nbsp;
            <% end %>
          </div>
        </div>
        <div style="margin-top:5vh;">
          <span class="message">The speaker was engaging</span>
          <div style="margin-top: 3vh;">
            <% (1..5).each do |i| %>
              <% if i==1 %>
                <input type="radio" name="b" value=<%= i %> id="bq<%= i %>" checked>
              <% else %>
                <input type="radio" name="b" value=<%= i %> id="bq<%= i %>">
              <% end %><label for="bq<%= i %>"><%= i %></label>&nbsp;&nbsp;&nbsp;
            <% end %>
          </div>
        </div>
       <div style="margin-top:5vh;">
          <span class="message">The length of time alloted for the session was appropriate</span>
          <div style="margin-top: 3vh;">
            <% (1..5).each do |i| %>
              <% if i==1 %>
                <input type="radio" name="c" value=<%= i %> id="cq<%= i %>" checked>
              <% else %>
                <input type="radio" name="c" value=<%= i %> id="cq<%= i %>">
              <% end %><label for="cq<%= i %>"><%= i %></label>&nbsp;&nbsp;&nbsp;
            <% end %>
          </div>
        </div>
        <div style="margin-top:5vh;">
          <span class="message">I would recommend the session to my colleagues</span>
          <div style="margin-top:3vh;">
            <% (1..5).each do |i| %>
              <% if i==1 %>
                <input type="radio" name="d" value=<%= i %> id="dq<%= i %>" checked>
              <% else %>
                <input type="radio" name="d" value=<%= i %> id="dq<%= i %>">
              <% end %><label for="dq<%= i %>"><%= i %></label>&nbsp;&nbsp;&nbsp;
            <% end %>
          </div>
        </div>
        <div style="margin-top:5vh;">
          <span class="message">The venue setup was conducive for the session</span>
          <div style="margin-top:3vh;">
            <% (1..5).each do |i| %>
              <% if i==1 %>
                <input type="radio" name="e" value=<%= i %> id="eq<%= i %>" checked>
              <% else %>
                <input type="radio" name="e" value=<%= i %> id="eq<%= i %>">
              <% end %><label for="eq<%= i %>"><%= i %></label>&nbsp;&nbsp;&nbsp;
            <% end %>
          </div>
        </div>
        <input class="answerbtn" type="submit" style="margin-top: 5vh;">
        <br><br><br><br><br><br>
      </center>
    <% end %>
  <% end %>
<% else %>
  <%= link_to('Sign in!', new_user_session_path)  %>
<% end %>



<style>
  input[type="radio"]{
    visibility:hidden;
  }
  label {
    cursor: pointer;
    border-radius: 100%;
    height:70px;
    width:70px;
    color:#ffffff;
    font-size:50px!important;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #ffffff;
    background-color: transparent;
  }
  input:checked + label {
    border: 1px solid #00a79d;
    background-color: #00a79d;
  }  
</style>