<center>
<div style="margin-top:2.5vh;">
<h2>GAMES PLAYED</h2>
</div>
</center>

<% if user_signed_in? %>
<center>
  <span class="userlabel">
    <%= current_user.email %> | 
    <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class=>"logoutlink") %>
  <% if current_user.email == "admin@i16.co" %>
    <br><%= link_to 'Winners', secret_path %>
    | <%= link_to 'Eval Responses', secret2_path %>
  <% end %>
  </span> 
</center>
<center style="margin-top:4vh;">
  <div>
    <% if @user_games.present? %>
      <% @user_games.each do |user_game| %>
      <div style="">
        <span class="gametitle"><%= user_game.game.gtype %></span><br>
        <div class="parentnum row">
        <% user_game.game.questions.order(:number).each do |q| %>
          <% user_game_question = UserGameQuestion.where(user_game_id: user_game.id).where(question_id: q.id).first %>
          <% if user_game_question.present? %>
            <% if user_game_question.status? %>
              
              <div class="col-xs-3">
              <div class="num numcorrect">
              <%= q.number %>
              </div>
              </div>
            <% else %>
            
              <div class="col-xs-3">
              <div class="num numwrong">
              <%= q.number %>
              </div>
              </div>
            <% end %>
          <% else %>
            
            <div class="col-xs-3">
            <div class="num numreg">
            <%= q.number %>
            </div>
            </div>
          <% end %>
        <% end %>
        </div>
        </div>
        <br>
      <% end %>
    <% end %>
    <% if @not_user_games.present? %>
      <% @not_user_games.each do |game| %>
        <div style="">
          <span class="gametitle"><%= game.gtype %></span><br>
          <div class="parentnum row">
          <% game.questions.order(:number).each do |q| %>
            
            <div class="col-xs-3">
            <div class="num numreg ">
            <%= q.number %>
            </div>
            </div>
            
          <% end %>
          </div>
        </div>
        <br>
      <% end %>
    <% end %>
  </div>
</center>
<% else %>
  <%= link_to('Sign in!', new_user_session_path)  %>
<% end %>

<style>
a {
  color: #00a79d;
  font-size: 30px;
}
a:hover {
  color: white;
}
</style>