<div style="margin-top: 5vh;"><center>
  <span class="message">WINNERS</span>

  <div class="row" style="padding-left: 5vw; padding-right:5vw; margin-top: 5vh;">
  <div class="col-xs-5">
    <% @games.each do |g| %>
      <a href="#g<%= g.id %>" data-toggle="tab"><%= g.gtype %></a> <br>
    <% end %>
  </div>

  <div class="col-xs-7">
    <% @games.each do |g| %>
      <% if g.id == 1 %>
        <div id="g<%= g.id %>" class="content active">
      <% else %>
        <div id="g<%= g.id %>" class="content">
      <% end %>
      <% users = g.user_games.where(status: true) %>
      <span style="color:white; font-size: 20px;">
      <% if users.count == 0 %>
        No winners
      <% else %>
        <% users.each do |user_game| %>
          <%= user_game.user.email %></br>
        <% end %>
      <% end %>
      <span>
      </div>
    <% end %>
  </div>
</center></div>

<style>
.content {
  display:none;
}
.active{
  display:block;
}
a {
  font-size: 30px;
}
a:hover{
  color: white;
}
</style>