<div style="margin-top: 5vh;"><center>
  <span class="message">EVALS</span>

<div class="row" style="padding-left: 5vw; padding-right:5vw; margin-top: 5vh;">
  <div class="col-xs-4">
    <% @evals.each do |e| %>
      <span style="color: white; font-size: 20px;"><strong><%= e.room %> Sessions</strong></span><br>
      <% (1..5).each do |t| %>
        <a href="#e<%= e.id %>t<%= t %>" data-toggle="tab"><%= t %> </a>
      <% end %>
      <br>
    <% end %>
  </div>

  <div class="col-xs-8">
    <% @evals.each do |e| %>
      <% (1..5).each do |t| %>
        <% if (e.id == 1) && (t == 1) %>
          <div id="e<%= e.id %>t<%= t %>" class="content active">
        <% else %>
          <div id="e<%= e.id %>t<%= t %>" class="content">
        <% end %>
        <% user_evals = e.user_evals.where(timeslot: t) %>
        <span style="color:white; font-size: 20px;">
          <strong><%= e.room %> - Session <%= t %></strong><br><br>
          <% if user_evals.count == 0 %>
            No respondents
          <% else %>
            <strong>Total respondents</strong>: <%= user_evals.count %><br>
            <strong>Overall average rating</strong>: <%= ((user_evals.collect(&:answer_a).sum.to_f/user_evals.length)+(user_evals.collect(&:answer_a).sum.to_f/user_evals.length)+(user_evals.collect(&:answer_c).sum.to_f/user_evals.length)+(user_evals.collect(&:answer_d).sum.to_f/user_evals.length)+(user_evals.collect(&:answer_e).sum.to_f/user_evals.length))/5 %>
          <br><br><br>
          <table class="table">
            <thead>
              <tr>
                <td>User email</td>
                <td>Timestamp</td>
                <td>Do you feel any pressure right now?</td>
                <td>Do you feel any pressure right now?</td>
                <td>Do you feel any pressure right now?</td>
                <td>Do you feel any pressure right now?</td>
                <td>Do you feel any pressure right now?</td>
              </tr>
            </thead>
            <tbody>
              <% user_evals.order(:created_at).each do |user_eval| %>
                <tr>
                  <td><%= user_eval.user.email %></td>
                  <td><%= user_eval.created_at.strftime('%b %d, %Y %I:%M:%S %p') %></td>
                  <td><%= user_eval.answer_a %></td>
                  <td><%= user_eval.answer_b %></td>
                  <td><%= user_eval.answer_c %></td>
                  <td><%= user_eval.answer_d %></td>
                  <td><%= user_eval.answer_e %></td>
                </tr>
              <% end %>
              <tr>
                <td></td>
                <td><strong>Average</strong></td>
                <td><%= user_evals.collect(&:answer_a).sum.to_f/user_evals.length %></td>
                <td><%= user_evals.collect(&:answer_b).sum.to_f/user_evals.length %></td>
                <td><%= user_evals.collect(&:answer_c).sum.to_f/user_evals.length %></td>
                <td><%= user_evals.collect(&:answer_d).sum.to_f/user_evals.length %></td>
                <td><%= user_evals.collect(&:answer_e).sum.to_f/user_evals.length %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
        </span>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<center></div>

<style>
.content {
  display:none;
}
.active{
  display:block;
}
a {
  font-size: 30px;
  color: #00a79d;
}
a:hover{
  color:white;
}
</style>