<h2>WINNERS</h2>

<div class="row" style="padding-left: 3vw;">
  <div class="col-xs-3">
    <% @games.each do |g| %>
      <a href="#g<%= g.id %>" data-toggle="tab"><%= g.gtype %></a> <br>
    <% end %>
  </div>

  <div class="col-xs-9">
    <% @games.each do |g| %>
      <% if g.id == 1 %>
        <div id="g<%= g.id %>" class="content active">
      <% else %>
        <div id="g<%= g.id %>" class="content">
      <% end %>
      <% users = g.user_games.where(status: true) %>
      <% if users.count == 0 %>
        No winners
      <% else %>
        <% users.each do |user_game| %>
          <%= user_game.user.email %></br>
        <% end %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>

<style>
.content {
  display:none;
}
.active{
  display:block;
}
</style>