<div style="margin-top: 5vh;"><center>
  <span class="message">WINNERS</span>

  <div class="row" style="padding-left: 5vw; padding-right:5vw; margin-top: 5vh;">
  <div class="col-xs-5">
    <% @games.each do |g| %>
      <a href="#g<%= g.id %>" data-toggle="tab"><%= g.gtype %></a> <br>
    <% end %>
  </div>

  <div class="col-xs-7">
    <% @games.each do |g| %>
      <% if g.id == 1 %>
        <div id="g<%= g.id %>" class="content active">
      <% else %>
        <div id="g<%= g.id %>" class="content">
      <% end %>
      <% users = g.user_games.where(status: true) %>
      <span style="color:white; font-size: 20px;">
      <strong>Game</strong>: <%= g.gtype %><br><br>
      <% if users.count == 0 %>
        <strong>No one has completed the game</strong>
      <% else %>
        <% if g.id == 1 #website go
            winner_count = 1
          elsif g.id == 2 #sponsors go
            winner_count = 2
          elsif g.id == 3 #summit go
            winner_count = 3
          elsif g.id == 4 #cio members go
            winner_count = 4
          else 
          end %>
        <% winners = UserGame.order("RANDOM()").limit(winner_count) %>
        <div><strong>Randomized Winners</strong>:<br>
          <% winners.each do |w| %>
            <%= w.user.email %><br>
          <% end %>
        </div>
        <div style="margin-top: 5vh;">
          <strong>Users who completed</strong>
          <% users.each do |user_game| %>
            <%= user_game.user.email %></br>
          <% end %>
        </div>
      <% end %>
      <span>
      </div>
    <% end %>
  </div>
</center></div>

<style>
.content {
  display:none;
}
.active{
  display:block;
}
a {
  font-size: 30px;
  color: #00a79d;
}
a:hover{
  color: white;
}
</style>