<h2>EVALS</h2>

<div class="row" style="padding-left: 3vw;">
  <div class="col-xs-3">
    <% @evals.each do |e| %>
      <a href="#e<%= e.id %>" data-toggle="tab"><%= e.room %></a> <br>
    <% end %>
  </div>

  <div class="col-xs-9">
    <% @evals.each do |e| %>
      <% if e.id == 1 %>
        <div id="e<%= e.id %>" class="content active">
      <% else %>
        <div id="e<%= e.id %>" class="content">
      <% end %>
      <% user_evals = e.user_evals %>
      <% if user_evals.count == 0 %>
        No respondents
      <% else %>
        Total respondents: <%= user_evals.count %><br>
        Overall average rating: <%= ((user_evals.collect(&:answer_a).sum.to_f/user_evals.length)+(user_evals.collect(&:answer_a).sum.to_f/user_evals.length)+(user_evals.collect(&:answer_c).sum.to_f/user_evals.length)+(user_evals.collect(&:answer_d).sum.to_f/user_evals.length)+(user_evals.collect(&:answer_e).sum.to_f/user_evals.length))/5 %>
        <table class="table">
          <thead>
            <tr>
              <td>User email</td>
              <td>Timestamp</td>
              <td>Do you feel any pressure right now?</td>
              <td>Do you feel any pressure right now?</td>
              <td>Do you feel any pressure right now?</td>
              <td>Do you feel any pressure right now?</td>
              <td>Do you feel any pressure right now?</td>
            </tr>
          </thead>
          <tbody>
            <% user_evals.order(:created_at).each do |user_eval| %>
              <tr>
                <td><%= user_eval.user.email %></td>
                <td><%= user_eval.created_at.strftime('%b %d, %Y %I:%M:%S %p') %></td>
                <td><%= user_eval.answer_a %></td>
                <td><%= user_eval.answer_b %></td>
                <td><%= user_eval.answer_c %></td>
                <td><%= user_eval.answer_d %></td>
                <td><%= user_eval.answer_e %></td>
              </tr>
            <% end %>
            <tr>
              <td></td>
              <td><strong>Average</strong></td>
              <td><%= user_evals.collect(&:answer_a).sum.to_f/user_evals.length %></td>
              <td><%= user_evals.collect(&:answer_b).sum.to_f/user_evals.length %></td>
              <td><%= user_evals.collect(&:answer_c).sum.to_f/user_evals.length %></td>
              <td><%= user_evals.collect(&:answer_d).sum.to_f/user_evals.length %></td>
              <td><%= user_evals.collect(&:answer_e).sum.to_f/user_evals.length %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
      </div>
    <% end %>
  </div>
</div>

<style>
.content {
  display:none;
}
.active{
  display:block;
}
</style>