<center style="margin-top:10vh;">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    
    <%= f.email_field :email, autofocus: true, placeholder: "Email", :class=>"txtbox" %>
  </div>

  <div class="field hiddenfield" style="margin-top:15px;">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", :class=>"txtbox", :value=>"123456" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field hiddenfield" style="text-align:left;padding-left:20vw;margin-top:15px;">
      <%= f.check_box :remember_me, :style=>"width:32px;height:32px;", :checked=>true %>&nbsp
      <%= f.label :remember_me,:class=>"deviselabel" %>
    </div>
  <% end -%>

  <div class="actions" style="margin-top:4vh;">
    <%= f.submit "Log In", :class=>"devisebtn" %>
  </div>
<% end %>

<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
<br><br>
  <%= link_to "Sign up", new_registration_path(resource_name),:class=>"devise-shared-left" %>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot Password", new_password_path(resource_name),:class=>"devise-shared-right", :style=>"display:none;" %>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>


</center>
