<!DOCTYPE html>
<html>
<head>
  <title>Ictsummit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Bungee' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,500' rel='stylesheet' type='text/css'>
</head>
<body>
<section id="gapsec">
<center>
	<%=image_tag ('/assets/ict.png'),:class=>"logo"%>
	</center>
</section>
<section id="gsec">
<center>
<h1>GIVEAWAY GO</h1>
</center>
</section>
<%= yield %>

</body>
</html>
